1. Бизнес требование гласит, запрос без фамилии должен считаться не валидным. DONE
2. Бизнес требование гласит, запрос без даты начала поездки (agreementDateFrom) должен считаться не валидным. DONE
3. Бизнес требование гласит, запрос без даты окончания поездки (agreementDateTo) должен считаться не валидным. DONE
4. Бизнес требование гласит, дата окончания поездки (agreementDateTo) должна быть после даты начала (agreementDateFrom). DONE